* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;

}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #E1D5D9;
  color: #58545B;
  transition: 0.5s;
}

.container.dark {
  background: #58545B;
  color: #E1D5D9;
}

.centred {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}