* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: $pink;
  color: $grey;
  transition: 0.5s;

  .button {
    @include flex-center(row);
    text-decoration: none;
    color: inherit;
    background: $lilac;
    text-align: center;
    font-size: 15px;
    border: solid 2px $grey;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    cursor: pointer;

    @media (max-width: 635px) {
      margin: 10px;
    }
  }

  .button:hover {
    background: $grey;
    color: $pink;
  }

  .small {
    width: 80px;
    height: 25px;
    font-size: 12px;
  }

  .medium {
    width: 200px;
    height: 30px;

    @media (max-width: 635px) {
      width: 150px;
      font-size: 11px;
    }
  }
}

main {
  min-height: 80vh;
}

.container.dark {
  background: $grey;
  color: $pink;

  .single-book {
    border-color: $pink;
  }

  .button {
    border: solid 2px $pink;
    background: $grey;
  }

  .button:hover {
    background: $pink;
    color: $grey;
  }

  .border {
    border-color: $pink;
  }

  .edit:hover {
    color: $grey;
  }

  .delete:hover {
    color: $pink;
    background: $red;
  }
}

.centred {
  @include flex-center(column);
  flex-grow: 1;
}

