* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hammersmith One', sans-serif;

}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #E1D5D9;
  color: #58545B;
  transition: 0.5s;

  .button {
    text-decoration: none;
    color: inherit;
    background: #B7A7AE;
    text-align: center;
    font-size: 15px;
    border: solid 2px #58545B;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:hover {
    background-color: #58545B;
    color: #E1D5D9;
  }
}

.container.dark {
  background: #58545B;
  color: #E1D5D9;

  .button {
    border: solid 2px #E1D5D9;
  }

  .button:hover {
    background: #E1D5D9;
    color: #58545B;
  }
}

.centred {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

