.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: 50px;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  
    .formstyling {
      display: flex;
      align-items: center;
      justify-content: center;
    } 
  }

  .border {
    width: 500px;
    height: 600px;
    border: 2px solid #58545B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    @media (max-width: 635px) {
      width: 350px;
    }
  }
}

.status-field {
  padding: 10px 28px;
  background: #F6F2F6;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.multi-select {
  padding: 0 35px;
  background: #F6F2F6;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.instructions {
  font-size: 13px;
}

