.login-form {
  @include flex-center(column);
  margin-top: 100px;

  .border {
    @include flex-center(column);
    width: 300px;
    height: 400px;
    border: 2px solid $grey;
    border-radius: 5px;
  }

  .login {
    @include flex-center(column);
  }
}