.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $light;
  color: $grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  transition: 0.5s;

  .dropdown-btn {
    font-size: 24px;
    cursor: pointer;
    display: block; 
  }

  .logo {
    width: 150px;
  }

  ul {
    flex: 1;
    list-style: none;
    text-align: center;
  }

  ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }

  ul li:hover {
    font-size: 19px;
  }

  .links, .links:visited, .links:active {
    color: inherit;
    text-decoration: none;
  }

  .logout {
    cursor: pointer;
  }

  .toggle-icon {
    width: 30px;
    cursor: pointer;
  }
}

.dark .navbar {
  background: $black;
  color: $light;  
}

@media (max-width: 795px) {
  .navbar {
    padding-right: 25px;

    .logo {
      width: 100px;
    }

    ul li {
      @include flex-center(row);
      font-size: 12px;
    }

    ul li:hover {
      font-size: 15px;
    }  
  }
}