.register-form {
  @include flex-center(column);
  margin-top: 100px;
  
  .border {
    @include flex-center(column);
    width: 300px;
    height: 500px;
    border: 2px solid $grey;
    border-radius: 5px;
  }

  .register {
    @include flex-center(column);
  }

  .danger{
    color: red;
    width: 50%;
  }
}